@font-face {
    font-family: "SilkScreen";
    src: url("slkscr.ttf");
}

body {
  font-family: SilkScreen;
  font-size: 30pt;
  color: #FCFCFC;
}

.container{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

#title-off{
  position:absolute;
  text-align: center;
  z-index:1;
}

div .title-text{
  font-size: 50pt;
  margin-top:29%;
}

.thumbnail{
  border: 0;
  background-color: black;
}

.zelda-logo{
  width: 100%;
  height: 300px;
  position: relative;
}

.title-word{
  position:absolute;
  z-index: 1;
  left: 25%;
  bottom: 19%;
  color: #E75A10;
  font-size: 20pt;
}

.title-guess{
  position:absolute;
  z-index: 1;
  right: 29%;
  bottom: 19%;
  color: #E75A10;
  font-size: 20pt;
}


#hangman{
  background-color: black;
}

.panel-default{
  border:6px solid #2038EC;
}

.panel-body{
  background:black;
}

.opponent{
  color: #D72800;
}

.attacks{
  color:#FFE7AD;
}

.life{
  color: #E75A10;
}

.rupees{
  color:#0D9300;
